body
{
    font-family: 'Indie Flower', cursive;
background-color:lightpink;
}

.header_div
{
    background-color:white;
}

.header_div p
{
    font-family: 'Dancing Script', cursive;
    color: cornflowerblue;
    letter-spacing:2px;
    font-size:12px;
    font-weight:bold;
}
.main_div button
{
font-family: 'Julee', cursive;
margin-top:30px;
width: 180px;
font-weight:bolder;
letter-spacing:3px;
}
.copy_right_footer
{
position:fixed;
color:lavenderblush;
bottom:0;
width:100%;
font-size:18px;
background-color:indianred;
line-height:3;
text-align: center;
text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
